@using System.Web.Mvc.Html
@using Microsoft.AspNet.Identity
@model GACD_StackOverflow_Project.Models.AccountProfileModel

@{
    ViewBag.Title = "GoProfile";
}

<h2>MiniStackOverflow</h2>

<div>
    <h4>GoProfile</h4>
    <hr/>

    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Username)*@
            @Model.Username

        </dt>

        <dd>
            @*@Html.ActionLink(User.Identity.Name, "GoProfile", "Account", routeValues: null, htmlAttributes: new {title = "Manage"})*@

            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @*@Html.ActionLink(User.Identity.GetUserName(), "GoProfile", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })*@
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>

        <dd>
           
            @Html.DisplayFor(model => model.Lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>

 
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>


