@model GACD_StackOverflow_Project.Models.AccountProfileModel

<h3>MiniStackOverflow</h3>

<div class="form-horizontal">
    <hr>

    <div class="form-group">

        <div class="col-md-1">
            <a href="#" class="btn btn-lg btn-info" style="width: 100px; height: 100px"> <span class="glyphicon glyphicon-user" ></span></a>
        </div>
        <div class="col-md-10">

            <blockquote>
                <h4>{ @Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.Lastname) }</h4>
                <h6>
                    <p class="text-info">Profile</p>
                </h6>

                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Username)
                    </dt>
                    
                    <dd>
                        @Html.DisplayFor(model => model.Username)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Lastname)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Lastname)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                </dl>


            </blockquote>

        </div>

    </div>
</div>


 
